<%- include('../partials/header', { title: 'Đăng ký Tài khoản', user: null }) %>
<%- include('../partials/navbar', { user: null }) %>

<div class="hero min-h-screen bg-base-200 -mt-24 pt-24">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left lg:ml-10">
      <h1 class="text-5xl font-bold text-primary">Đăng ký thành viên</h1>
      <p class="py-6 text-lg">
        Trở thành thành viên để có thể bình luận và quản lý hồ sơ cá nhân của
        bạn.
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form action="/auth/register" method="POST" class="card-body">
        <% if (error) { %>
        <div class="alert alert-error mb-4"><%= error %></div>
        <% } %>

        <div class="form-control">
          <label class="label"
            ><span class="label-text">Tên (membername)</span></label
          >
          <input
            type="text"
            placeholder="Tên của bạn"
            name="membername"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label"><span class="label-text">Email </span></label>
          <input
            type="email"
            placeholder="example@myteam.com"
            name="email"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label"><span class="label-text">Mật khẩu </span></label>
          <input
            type="password"
            placeholder="Mật khẩu"
            name="password"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Đăng ký</button>
        </div>
        <div class="text-center mt-4">
          Đã có tài khoản?
          <a href="/auth/login" class="link link-hover text-secondary"
            >Đăng nhập</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
