</main>
<footer class="footer p-10 bg-neutral text-neutral-content mt-auto">
    <div class="container mx-auto flex justify-between items-center">
        <aside>
            <p class="text-2xl font-bold">Perfume Bliss</p>
            <p>FPT Assignment 2025<br/>Thực hiện MERN Stack Project.</p>
        </aside>
        <nav>
            <header class="footer-title">Liên kết</header> 
            <a class="link link-hover" href="/">Trang chủ</a> 
            <a class="link link-hover" href="/auth/register">Đăng ký</a> 
            <a class="link link-hover" href="/admin/dashboard">Admin</a>
        </nav>
    </div>
</footer>
</body>
</html>