<footer class="footer">
  <div class="footer-container">
    <aside class="footer-left">
      <p class="footer-brand">Perfume Bliss</p>
      <p>FPT Assignment 2025<br />Thực hiện MERN Stack Project.</p>
    </aside>

    <nav class="footer-links">
      <h3>Liên kết</h3>
      <a href="/">Trang chủ</a>
      <a href="/auth/register">Đăng ký</a>
      <a href="/admin/dashboard">Admin</a>
    </nav>
  </div>
</footer>
