<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfume Shop | <%= title %></title>

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/perfumeDetail.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/perfume.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/admin-dashboard.css" />
    <link rel="stylesheet" href="/css/members.css" />
    <link rel="stylesheet" href="/css/manage-brands.css" />

    <% if (pageCss) { %>
    <link rel="stylesheet" href="/css/<%= pageCss %>" />
    <% } %>
  </head>

  <body></body>
</html>
