<!DOCTYPE html>
<html lang="vi" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfume Shop | <%= title %></title>
    <link rel="stylesheet" href="/output.css" />

    <% if (pageCss) { %>
    <link rel="stylesheet" href="/css/<%= pageCss %>" />
    <% } %>
  </head>
  <body class="bg-base-200 min-h-screen flex flex-col"></body>
</html>
